.Footer {
  position: relative;
  bottom: 0;
  left: 5%;
  background-color: transparent;
  margin-top: 10px;
  padding: 10px 0 20px 0;
  border-top: 1px solid #d0d0d0;
  z-index: 100000;
}

.Copyright {}
