div.Pricing {
  background-color: rgb(38, 83, 96);
  border-radius: 0;
  color: #fff;
  height: 100%;
}
.Card {
  color: #000000;
  height: 250px;
  padding: 20px;
}

.Features {
  color: #333;
  margin-top: 5px;
}

.Feature {
  border-bottom: 1px solid #d0d0d0;
  margin-top: 20px;
  padding-bottom: 20px;
}
