.Card {
  padding: 0;
}

.CardHeading {
  text-align: center;
}

.CardBody {
  margin: 0;
}
.CardBody li {
  padding-left: 5px;
}

.CardBody ul li > a {
  padding: 0;
}
.CardBody a {
  padding-left: 5px;
}
