.Card {
  position: relative;
}

.CardHeading {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
}

.CardBody {
  position: absolute;
  background: blue;
  padding: 0 10px 0 10px;
  width: 100%;
  left: 0;
  top: 28px;
}
